

#comment {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow-y: scroll;
}
#comment form {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#comment >  form  select{
    width: 50%;
    height: 50px;
    box-shadow: 3px 3px 3px #0000001c;
    border: solid #0000001c 1px;
    outline: none;
    padding-left: 10px;
    font-size: 12pt;
}

#comment > form  button{
    background-color: var(--orange);
    height: 100%;
    width: 50px;
    font-size: 13pt;
    color: var(--white);
}

#comment  > article{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

#comment  > article figure{
    display: flex;
    background-color: var(--white);
    padding: 10px;
    box-shadow: 3px 3px 3px #00000017;
    border-radius: 4px;
    gap: 20px;
    height: 200px;
}

#comment  > article figure span{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#comment  > article figure span p{
    display: flex;
    width: 70px;
    height: 70px;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-color: var(--orange);
    border-radius: 50%;
}

#comment  > article figure figcaption{
    display: flex;
    flex-direction: column;
    gap: 10px;
    word-wrap: break-word;
    text-align: justify;
    justify-content: space-between;
}
#comment  > article figure figcaption button{
    background-color: var(--red);
    color: var(--white);
    height: 40px;
    font-size: 13pt;
    width: 40px;
}